{% extends page %}
{% block content %}
<section class="banner" style="height: 5vh;" data-scroll-index='0'>
    <div class="banner-overlay">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1 class="text-white">Artist Profile</h1>
            <p class="text-white">Galleryhome /<b>Artist Profile</b> </p>
          </div>
        </div>  
      </div>
    </div> 
</section>
<section class="team section-padding" data-scroll-index='3'>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="sectioner-header text-center">
            <h3>Artist Profile</h3>
            <span class="line"></span>
            
          </div>
          <div class="section-content text-center">
            <div class="row">
              <div class="col-md-12">
                <div class="team-detail wow bounce" data-wow-delay="0.2s"> <img src="static/media/{{ artist.image }}" style="object-fit: cover;height: 250px;width: 250px;" class="img-fluid"/>
                  <h4>{{ artist.username }}</h4>
                  <p class="mx-5 my-auto" style="text-align: justify;">{{ artist.bio }}</p>
                  <p class="mx-5 my-auto" style="text-align: justify;"><b>Email : </b>{{ artist.email }}</p>
                  <p class="mx-5 my-auto" style="text-align: justify;"><b>Phone : </b>{{ artist.phone }}</p>
                  <p class="mx-5 my-auto" style="text-align: justify;"><b>Address : </b>{{ artist.address }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="about section-padding prelative" data-scroll-index='1'>
    <div class="container"> 
        <div class="col-lg-12 row">
            {% for post in posts %}
                <div class="col-lg-4 my-2" >
                    <img src="static/media/{{ post.image }}" style="border-radius: 20px;" class="w-100" alt="Post Image">
                    <p class="text-center mt-2" style="font-size: 11px;">{{ post.description }}</p>
                    <p class="text-center mt-2" style="font-size: 8px;">{{ post.posted }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}